.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin: 0 0 2rem;

  .label {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: var(--font-size-00);

    &.required::after {
      content: '';
      display: block;
      background-color: var(--color-primary);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-block-end: 8px;
      margin-left: 3px;
    }
  }

  .trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gray-00);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--border-radius);
    width: 100%;
    height: var(--button-height-md);
    text-align: left;
    padding: var(--button-padding);

    &::after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border: 1px solid var(--color-gray-400);
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
      margin-block-end: 5px;
      margin-left: 10px;
    }
  }

  .groups {
    position: absolute;
    top: 100%;
    margin: 10px 0 0;
    background-color: var(--color-gray-00);
    border: 1px solid var(--color-gray-400);
    border-radius: var(--border-radius);
    font-size: var(--font-size-100);
    width: 100%;
    max-height: 20rem;
    overflow-y: auto;
    padding: 0.3rem 0.7rem;

    .group {
      margin-block: 1.4rem;
      .label {
        display: flex;
        gap: 0.3rem;
        font-weight: 500;
        margin: 0.5rem 0 0.3rem;
        font-size: inherit;
      }
    }
  }

  .header {
    font-weight: 500;
    font-size: var(--font-size-200);
    margin: 1rem 0 1.5rem;
  }

  .menu {
    & li {
      padding: 0.4rem 0;
      font-size: var(--font-size-00);

      &.selected {
        background-color: var(--color-gray-200);
      }
    }
  }
  .chips {
    display: flex;
    gap: 0.5rem;

    & li {
      border: 1px solid var(--color-gray-300);
      border-radius: 999px;
      color: var(--color-gray-600);
      padding: 0.2rem 0.5rem;

      &.selected {
        background-color: var(--color-gray-00);
        border-color: var(--color-primary);
        color: var(--color-primary);
      }
    }
  }
}
