.article {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;

  &.col {
    flex-direction: column;
    gap: 0;
  }

  .write {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 999px;
    margin: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
  }
}

.image {
  display: flex;
  border-radius: calc(2 * var(--border-radius));
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    width: 0;
    padding-top: 100%;
  }
  & img {
    display: block;
    width: 100%;
    position: absolute;
    inset: 0;
  }
}

.etc {
  display: flex;
  gap: 0.3em;
  color: var(--color-gray-600);
  font-size: var(--font-size-00);
  & span:not(:last-child) {
    display: flex;
    align-items: center;
    gap: 0.3em;
    &::after {
      content: '';
      background-color: var(--color-gray-600);
      border-radius: 50%;
      width: 0.2em;
      height: 0.2em;
    }
  }
}

.price {
  & em {
    font-style: normal;
    font-weight: 700;
  }
}

.item {
  flex: 0 1 calc((100% - 6em) / 3);
  max-width: calc((100% - 6em) / 3);
  & a {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    gap: 20px;
  }

  .image {
    border: 1px solid var(--color-gray-300);
    & img {
      height: 100%;
    }
  }

  .item-desc {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 0 0 100%;
  }

  .title {
    display: flex;
    gap: 7px;
    font-size: var(--font-size-100);
    font-weight: 400;
    & span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list {
  border-bottom: 1px solid var(--color-gray-300);
  padding: 1rem 0;

  .item-desc {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 0 0 100%;
    margin-top: 0.3rem;
  }

  .title {
    font-size: var(--font-size-200);
    font-weight: 400;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comment {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--color-gray-600);
    font-size: var(--font-size-00);
  }
}

.details {
  max-width: 768px;
  margin: 0 auto;

  .image {
    &::before {
      padding-top: 56.25%;
    }
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--color-gray-300);
    margin-bottom: 2rem;
    padding: 2rem 0;

    .info {
      flex: 0 1 100%;
      line-height: 1.25;
      .nickname {
        font-size: var(--font-size-100);
        font-weight: 500;
      }
      .area {
        color: var(--color-gray-600);
        font-size: var(--font-size-00);
      }
    }

    .link {
      width: auto;
      white-space: nowrap;
    }
  }

  .profile {
    flex: 1 0 40px;
    color: var(--color-gray-600);
    border-radius: 50%;
    overflow: hidden;
    & img {
      display: block;
    }
  }

  .title {
    font-size: var(--font-size-300);
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  .price {
    margin-top: 0.3rem;
  }

  .desc {
    margin: 2rem 0;
  }
}
