:root {
  --color-gray-00: #fff;
  --color-gray-50: #f7f8fa;
  --color-gray-100: #f2f3f6;
  --color-gray-200: #eaebee;
  --color-gray-300: #dcdee3;
  --color-gray-400: #d1d3d8;
  --color-gray-500: #adb1ba;
  --color-gray-600: #868b94;
  --color-gray-700: #4d5159;
  --color-gray-800: #393a40;
  --color-gray-900: #212124;
  --color-black: #212529;
  --color-red-600: #fa2314;
  --color-yellow-400: #dea651;
  --color-carrot-600: #fa6616;
  --color-carrot-700: #f05705;
  --color-carrot-800: #cc4700;
  --color-carrot-900: #b44104;
  --color-carrot-950: #a03a03;
  --font-size-00: 14px;
  --font-size-50: 15px;
  --font-size-100: 16px;
  --font-size-200: 18px;
  --font-size-300: 20px;
  --font-size-400: 24px;
  --font-size-500: 26px;
  --font-size-600: 32px;
  --font-size-700: 34px;
  --font-size-800: 42px;
  --font-size-900: 48px;
  --font-size-1000: 54px;
  --font-size-1100: 60px;
  --font-size-1200: 72px;
  --color-carrot-100: #ffe2d2;
  --color-carrot-200: #ffd2b9;
  --color-carrot-300: #ffbc97;
  --color-carrot-400: #ff9e66;
  --color-carrot-500: #ff6f0f;
  --color-carrot-600: #fa6616;
  --color-carrot-700: #f05705;
  --color-carrot-800: #cc4700;
  --color-carrot-900: #b44104;
  --color-carrot-950: #a03a03;
  --color-primary: #ff6f0f;
  --color-primary-hover: #f05705;
  --color-primary-bg: #ffe2d2;
  --color-secondary: var(--color-gray-900);
  --color-warning: var(--color-yellow-400);
  --color-danger: var(--color-red-600);
  --color-content: var(--color-black);
  --font-warning: var(--font-size-00);
  --h1-font-size: var(--font-size-900);
  --h2-font-size: var(--font-size-800);
  --h3-font-size: var(--font-size-700);
  --h4-font-size: var(--font-size-500);
  --title-font-size: var(--font-size-500);
  --subtitle-font-size: var(--font-size-300);
  --padding-layouts: calc(var(--font-size-200) * 1.5);
  --border-radius: 0.35rem;
  --toast-font-size: var(--font-size-00);
  --input-height-sm: 35px;
  --input-height-md: 45px;
  --input-height-lg: 50px;
  --input-padding: 0.2rem 0.7rem;
  --textarea-padding: 0.7rem;
  --table-primary: var(--color-gray-900);
  --table-gray: var(--color-gray-300);
  --table-padding: 0.7rem 0.3rem;
  --button-height-sm: var(--input-height-sm);
  --button-height-md: var(--input-height-md);
  --button-height-lg: var(--input-height-lg);
  --button-padding: var(--input-padding);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: var(--font-size-200);
  color: var(--color-content);
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  color: inherit;
  font-size: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.Toastify {
  font-size: var(--toast-font-size);
}

@media all and (max-width: 1400px) {
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media all and (min-width: 768px) {
  .content {
    padding: 2em 0;
    margin: 0 1.115em;
    position: relative;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 1025px) {
  .content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2em 0;
  }

  .cinner {
    padding: 0 1.115em;
  }
}
